#board {
  display: grid;
  flex-shrink: 1;
  margin: 1em;
}
.letter-box {
  width: 3em; 
  height: 3em;
  border: solid black 1px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden; /* Might overflow if the number is two digits long */
}
.letter-box-empty {
  background-color: black;
}
.letter-box > input {
  width: 2.5em;
  height: 2.5em;
  background-color: white;
  border: none;
}
input:valid {
  color: green;
}
.letter-box-start-number {
  display: flex;
  flex-direction: column; 
  justify-content: first;
  height: 3em; /* same size as box */
}

/* inner div*/
.letter-box-start-number > div {
  padding-top: 3px;
  padding-left: 3px;
}
#game-layout {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

#sidebar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 2em;
  border: solid;
  margin: 1em;
}

#sidebar div:first-child {
  border-bottom: solid;
}

#sidebar li {
  list-style: none;
  margin-bottom: .5em;;
}

p {
  font-size: large;
}

#instructions p {
  max-width: 400px;
  margin-left: 1em;
  margin-top: 50px;
  margin-bottom: 50px;
}
