body {
}

main {
  width: 80%;
  margin: 4em auto;
  font-size:x-large;
}

#intro-container {
  width: 80%;
}

#identify-player-container {
  width: 80%;
  margin: 4em auto;
  text-align: center;
}

#intro-container .form-container {
  width: 80%;
  margin: auto;
}

.current-person, .next-person {
  padding: .2em;
  border: solid;
}

#interesting-input {
  width: 60%;
  margin: 2em;
}

.url-display-container {
  width: 80%;
}
.url-display-inner {
  overflow: auto;
  border: solid;
  white-space: nowrap;
  padding: 5px;
}
.url-display-copy-btn {
  float: right;
}

.btn {
  border: solid;
  display: inline-block;
  margin: 3px 0 3px;
  padding: .1em;
  cursor: pointer;
  
}

.url-display-container {
  font-size: smaller;
}