* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
header {
  background-color: black;
  color: white;
  padding-top: 10px;
  padding-bottom: 5px;
}
header h1 {
  margin: 0 10px 0;
}
.container {
  width: 90%;
  margin: auto;
}